// CREATE THEME

//-----COLORS BACKGROUND------
$primary: #f7f8fa;
$secondary: #0f7c90;
$blueGem: #094c59;
$darkBlue: #003640;
$paper: #ffffff;
$light: #fbfbf8;
$darkGrey: #686f7a;
$grey: #989586;
$lightGrey: #dcdacb;
$darkGrey-1: #c3c0a6;
$darkModal: rgba(0, 0, 0, 0.6);
$lightBlue: #f2fbfc;
$dark: #3c3b37;
$lightOrange: #ffe799;
$red: #e61b1b;
$redOrange: #ec5252;

//-----COLORS TEXT------
$textPrimary: #29303b;
$textSecondary: #0f7c90;
$textBlue: #094c59;
$textWhite: #ffffff;
$textGrey: #3c3b37;
$textDarkGrey: #73726c;
$textDark: #333;
$textOrange: #be5a0e;
$textLightOrange: #eb8a2f;
$textDarkBrown: #593d00;
$textLightDark: #3c3b37;

//-------FONT SIZE-------
$body1: 10px;
$body2: 12px;
$subtitle: 14px;
$h6: 16px;
$h5: 18px;
$h4: 20px;
$h4-1: 24px;
$h4-2: 27px;
$h3: 30px;
$h3-1: 32px;
$h2: 40px;
$h1: 44px;
$p1: 19px;
$p2: 15px;
$p3: 11px;

//------FONT WEIGHT--------
$fwBold: 700;
$fwMedium: 600;
$fwRegular: 400;
$fwLight: 300;

//------HEIGHT--------
$height-header: 72px;
$height-header-mobile: 58px;
$height-header-gradient: 8px;

//----------SPACING---------
$spacing: 10px;
$margin-bottom-compoment: 45px;

//----------ICON---------
$width-icon: 46px;
$height-icon: 46px;
$width-icon-search: 46px;
$height-icon-search: 46px;
$width-icon-compoment: 48px;
$height-icon-compoment: 48px;
$widthIconLogo: 110px;

//------WIDTH--------
$widthModalMenu: 280px;
